ignore-script=true
registry=http://npm.seamfix.com///npm.seamfix.com/:_authToken="dn9POV9r8vPoCb5E6XPhGw=="
//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
//registry=http://npm.seamfix.com/
registry=http://npm.seamfix.com/
//npm.seamfix.com/:_authToken="dn9POV9r8vPoCb5E6XPhGw=="
python=python2
@telosid:registry=https://gitlab.com/api/v4/projects/29462567/packages/npm/
