<div class="flex flex-col items-center justify-center gap-10 lg:px-0 px-5">
  <div class="flex flex-col gap-5 items-center">
    <img [routerLink]="'/'" class="cursor-pointer w-[61px] h-[68px]" src="assets/Vector%20(1).svg" alt="">
    <h5 class="lg:text-[36px] text-[24px] font-bold text-center whitespace-nowrap">🌿 A Love Note from Us 🌿</h5>
  </div>

  <h5 class="lg:w-[953px] text-[14px]">
    To Our Dearest Friends and Family, <br><br>
    From the moment our paths crossed, we knew our love story was meant to be written together. Through laughter,
    adventures, quiet moments, and endless dreams, we have found in each other a love that feels like home. <br><br>

    As we step into this new chapter of our lives, we are filled with gratitude for the love and support that surrounds
    us. Each of you has played a special part in our journey—guiding us, cheering us on, and sharing in our joy. Our
    wedding is not just about us; it is a celebration of love, family, and friendship, and we cannot imagine this day
    without you.
    With hearts overflowing, we invite you to join us as we say “I do” to forever. Your presence will make our day even
    more magical, and we cannot wait to create beautiful memories together. <br><br>

    With love ❤️, <br> <b>Berry & Nnaemeka</b>
  </h5>

  <!--  form section-->
  <div class="flex flex-col gap-5 shadow bg-white rounded-2xl lg:p-10 p-5 lg:w-[769px] w-[327px] mb-10">
    <h5 class="text-[20px] font-bold">Kindly RSVP your invite</h5>
    <form class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">First name</label>
        <input type="text" placeholder="Input your first name"
               class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl">
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">Last name</label>
        <input type="text" placeholder="input your last name"
               class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl">
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">Email address</label>
        <input type="email" placeholder="Input your email address"
               class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl">
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">Password</label>
        <input type="password" placeholder="Input your password"
               class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl">
      </div>

      <div class="flex flex-col gap-3">
        <h5 class="flex font-bold text-[14px]">Will you be attending the event?</h5>
        <div class="flex items-center gap-32">
          <div class="flex items-center gap-2">
            <input
              type="radio"
              id="attending-yes"
              name="attending"
              value="yes"
              [(ngModel)]="attending"
              class="custom-radio"
            >
            <label for="attending-yes">Yes</label>
          </div>
          <div class="flex items-center gap-2">
            <input
              type="radio"
              id="attending-no"
              name="attending"
              value="no"
              [(ngModel)]="attending"
              class="custom-radio"
            >
            <label for="attending-no">No</label>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-3">
        <h5 class="flex font-bold text-[14px]">Will you be coming with a guest?</h5>
        <div class="flex items-center gap-32">
          <div class="flex items-center gap-2">
            <input
              type="radio"
              id="guest-yes"
              name="bringingGuest"
              value="yes"
              [(ngModel)]="bringingGuest"
              class="custom-radio"
            >
            <label for="guest-yes">Yes</label>
          </div>
          <div class="flex items-center gap-2">
            <input
              type="radio"
              id="guest-no"
              name="bringingGuest"
              value="no"
              [(ngModel)]="bringingGuest"
              class="custom-radio"
            >
            <label for="guest-no">No</label>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">Guest’s full name</label>
        <input type="text" placeholder="Your guest name"
               class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl">
      </div>

      <div class="flex lg:justify-end">
        <button class="px-5 py-3 bg-[#594B00] lg:w-[224px] w-full rounded-2xl text-white shadow font-bold">Submit
        </button>
      </div>
    </form>
  </div>
</div>
