<div class="flex flex-col items-center justify-center gap-10 lg:px-0 px-5">
  <div class="flex flex-col gap-5 items-center">
    <img
      [routerLink]="'/'"
      class="cursor-pointer w-[61px] h-[68px]"
      src="assets/Vector%20(1).svg"
      alt=""
    />
    <h5
      class="lg:text-[36px] text-[24px] text-red-500 font-bold text-center whitespace-nowrap"
    >
      🌿 A Love Note from Us 🌿
    </h5>
  </div>

  <h5 class="lg:w-[953px] text-[14px]">
    To Our Dearest Friends and Family, <br /><br />
    From the moment our paths crossed, we knew our love story was meant to be
    written together. Through laughter, adventures, quiet moments, and endless
    dreams, we have found in each other a love that feels like home.
    <br /><br />
    With hearts overflowing, we invite you to join us as we say “I do” to
    forever. Your presence will make our day even more magical, and we cannot
    wait to create beautiful memories together. As we step into this new chapter
    of our lives, we are filled with gratitude for the love and support that
    surround us. Each of you has played a special part in our journey—guiding
    us, cheering us on, and sharing in our joy. Our wedding is not just about
    us; it is a celebration of love, resilience, family, and friendship, and we
    cannot imagine this day without you. <br /><br />

    With love ❤️, <br />
    <b>Berry & Nnaemeka</b>
  </h5>

  <!--  form section-->
  <div
    class="flex flex-col gap-5 shadow bg-white rounded-2xl lg:p-10 p-5 lg:w-[769px] w-[327px] mb-10"
  >
    <h5 class="text-[20px] font-bold">Kindly RSVP your invite</h5>
    <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">First name</label>
        <input
          type="text"
          placeholder="Input your first name"
          formControlName="firstName"
          class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl"
        />

        <p
          *ngIf="ctrls['firstName'].errors && ctrls['firstName'].touched"
          class="text-error"
        >
          @if(ctrls['firstName'].errors['required']){ First name is required. }
          @if(ctrls['firstName'].errors['minlength']){ First name cannot be less
          than 2 characters. } @if(ctrls['firstName'].errors['maxlength']){
          First name cannot be more than 50 characters. }
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">Last name</label>
        <input
          type="text"
          placeholder="input your last name"
          formControlName="lastName"
          class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl"
        />

        <p
          *ngIf="ctrls['lastName'].errors && ctrls['lastName'].touched"
          class="text-error"
        >
          @if(ctrls['lastName'].errors['required']){ Last name is required. }
          @if(ctrls['lastName'].errors['minlength']){ Last name cannot be less
          than 2 characters. } @if(ctrls['lastName'].errors['maxlength']){ Last
          name cannot be more than 50 characters. }
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">Phone number</label>
        <input
          type="text"
          placeholder="Input your email address"
          formControlName="phone"
          class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl"
        />
        <p
          *ngIf="ctrls['phone'].errors && ctrls['phone'].touched"
          class="text-error"
        >
          @if(ctrls['phone'].errors['pattern']){ Invalid phone number. }
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">Email address</label>
        <input
          autocomplete="username"
          type="email"
          placeholder="Input your email address"
          formControlName="email"
          class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl"
        />
        <p
          *ngIf="ctrls['email'].errors && ctrls['email'].touched"
          class="text-error"
        >
          @if(ctrls['email'].errors['required']){ Email is required. }
          @if(ctrls['email'].errors['email']){ Invalid email address. }
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">Password</label>
        <input
          autocomplete="new-password"
          type="password"
          placeholder="Input your password"
          formControlName="password"
          class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl"
        />
        <p
          *ngIf="ctrls['password'].errors && ctrls['password'].touched"
          class="text-error"
        >
          @if(ctrls['password'].errors['required']){ Password is required }
        </p>
      </div>

      <div class="flex flex-col gap-3">
        <h5 class="flex font-bold text-[14px]">
          Will you be attending the event?
        </h5>
        <div class="flex items-center gap-32">
          <div class="flex items-center gap-2">
            <input
              type="radio"
              [value]="true"
              [checked]="form.value.willAttend"
              formControlName="willAttend"
              class="custom-radio"
            />
            <label for="attending-yes">Yes</label>
          </div>
          <div class="flex items-center gap-2">
            <input
              type="radio"
              formControlName="willAttend"
              [checked]="!form.value.willAttend"
              [value]="false"
              class="custom-radio"
            />
            <label for="attending-no">No</label>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-3">
        <h5 class="flex font-bold text-[14px]">
          Will you be coming with a guest?
        </h5>
        <div class="flex items-center gap-32">
          <div class="flex items-center gap-2">
            <input
              type="radio"
              [checked]="form.value.comingWithAGuest"
              [value]="true"
              formControlName="comingWithAGuest"
              class="custom-radio"
            />
            <label for="guest-yes">Yes</label>
          </div>
          <div class="flex items-center gap-2">
            <input
              type="radio"
              [value]="false"
              [checked]="!form.value.comingWithAGuest"
              formControlName="comingWithAGuest"
              class="custom-radio"
            />
            <label for="guest-no">No</label>
          </div>
        </div>
      </div>

      @if(form.value.comingWithAGuest == true){
      <div class="flex flex-col gap-2">
        <label class="text-[14px] font-bold">Guest’s full name</label>
        <input
          type="text"
          placeholder="Your guest names separated by commas e.g. John Doe, Jane Doe"
          formControlName="guestNames"
          class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl"
        />
      </div>
      }

      <div class="flex lg:justify-end">
        <button
          type="submit"
          [disabled]="form.invalid || isSubmitting()"
          [class]="
            isSubmitting() || form.invalid
              ? 'cursor-not-allowed bg-[#594c00a7] '
              : 'cursor-pointer  bg-[#594B00]'
          "
          class="px-5 py-3 lg:w-[224px] w-full rounded-2xl text-white shadow font-bold"
        >
          @if(isSubmitting()){ Submitting... }@else{ Submit }
        </button>
      </div>
    </form>
  </div>
</div>
