<div class="px-5">
  <!-- First Section -->
  <div class="flex flex-col lg:flex-row justify-center items-center gap-10 lg:gap-20 text-center lg:text-left">
    <p class="lg:w-[635px] md:text-[20px] text-[14px] leading-[28px] text-center">
      The families of Onyiba Dandy Igwe-omoke and Osuji Odi Nweze cordially invite you to the Igba Nkwu between their
      children
    </p>
    <button [routerLink]="'/note'"
            class="bg-[#594B00] px-5 py-3 rounded-2xl lg:w-[160px] w-full text-white font-bold cursor-pointer shadow">
      Click to RSVP
    </button>
  </div>

  <!-- Second Section -->
  <div class="relative mt-16">
    <!-- Centered Texts Dynamically -->
    <h4
      class="absolute lg:mt-10 lg:-ml-32 -ml-10 left-1/2 transform -translate-x-1/2 text-[48px] md:text-[72px] lg:text-[86px]">
      Berry
    </h4>

    <!-- Centered Image -->
    <img class="mx-auto mt-32 md:mt-40 w-4/5 md:w-3/5 lg:w-auto" src="assets/Vector%201.svg" alt="">

    <h4
      class="absolute left-1/2 transform -translate-x-1/4 lg:mt-0 -mt-10 top-32 md:top-44 text-[40px] md:text-[60px] lg:text-[75px]">
      Nnaemeka
    </h4>
  </div>

  <!-- Third Section -->
  <div class="flex flex-col gap-10 justify-center ">
    <div class="mx-auto border-t-2 border-dotted lg:w-[679px] w-[327px] border-[#C1A50C] mt-20"></div>
    <div class="flex lg:flex-row flex-col lg:items-center items-start lg:justify-center justify-start lg:gap-10 gap-3">
      <div class="flex items-center gap-3">
        <img src="assets/MapPin.svg" alt="">
        <h5> Nweze Njoku's Compound, Uburu</h5>
      </div>
      <div class="flex items-center gap-3">
        <img src="assets/Vector.svg" alt="">
        <h5>20th April, 2025</h5>
      </div>
      <div class="flex items-center gap-3">
        <img src="assets/Alarm.svg" alt="">
        <h5>11am</h5>
      </div>
    </div>
    <h5 class="mx-auto mb-10 lg:text-start text-center">
      Reception follows right after at <b>Dr. Nnaemeka Victor Igwe-Omoke’s compound,</b> at Ogoachi Obuegu Okposi Okwu
      at 2pm
    </h5>
  </div>
</div>
