<div class="flex flex-col gap-5 justify-between items-center p-4">
  <div class="flex items-center justify-center lg:gap-0 gap-16">
    <h5 class="text-center font-bold">Thank you for the RSVP</h5>
  </div>

  <div class="flex flex-col gap-5">
    <h5 class="text-center text-[14px]">
      ❤️ Thank you for responding to our invite, we have sent you a confirmation
      mail with all the necessary information you need to know
    </h5>

    <div class="flex flex-col items-center justify-center gap-5">
      <h5 class="flex font-bold text-[14px]">
        Would you like to make a hotel reservation?
      </h5>
      <div class="flex items-center gap-10">
        <div class="flex items-center gap-2">
          <input
            type="radio"
            id="hotel-yes"
            name="hotelReservation"
            value="yes"
            class="custom-radio"
            (change)="onHotelReservationChange('yes')"
          />
          <label for="hotel-yes">Yes</label>
        </div>

        <div class="flex items-center gap-2">
          <input
            type="radio"
            id="hotel-no"
            name="hotelReservation"
            value="no"
            class="custom-radio"
            (change)="onHotelReservationChange('no')"
          />
          <label for="hotel-no">No</label>
        </div>
      </div>
    </div>
    <div class="p-4">
      <ng-content></ng-content>
    </div>
  </div>
</div>
