<div class="flex flex-col gap-5 justify-between items-center p-4">
  <div class="flex items-center justify-center lg:gap-0 gap-16">
    <h5 class="lg:text-[24px] font-bold lg:w-[568px]">
      Select a hotel from the list.
    </h5>
  </div>

  <form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-2">
      <label class="text-[14px] font-bold">Select hotel</label>
      <select
        formControlName="hotelNumber"
        (change)="calculateAmount()"
        class="w-full border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl"
      >
        @for(hotel of hotels; track hotel.key){

        <option [value]="hotel.key">{{ hotel.name }}</option>
        }
      </select>
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-[14px] font-bold"
        >Select the number of days you wish to stay</label
      >
      <select
        type="number"
        formControlName="numberOfDays"
        (change)="calculateAmount()"
        class="w-full border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl"
      >
        <option selected [value]="1">1 day</option>
        <option [value]="2">2 Days</option>
        <option [value]="3">3 Days</option>
        <option [value]="4">4 Days</option>
        <option [value]="5">5 Days</option>
        <option [value]="6">6 Days</option>
        <option [value]="7">7 Days</option>
        <option [value]="8">8 Days</option>
        <option [value]="9">9 Days</option>
        <option [value]="10">10 Days</option>
      </select>
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-[14px] font-bold">Amount to pay</label>
      <div
        class="flex items-center gap-2"
        class="border border-[#F0EEEC] focus:border-[#594B00] outline-none px-5 py-3 rounded-2xl"
      >
        {{ form.value.amount | currency : "NGN" : "symbol-narrow" }}
      </div>
    </div>

    <div class="flex lg:justify-end">
      <button
        type="submit"
        [disabled]="form.invalid || isSubmitting()"
        [class]="
          isSubmitting() || form.invalid
            ? 'cursor-not-allowed bg-[#594c00a7] '
            : 'cursor-pointer  bg-[#594B00]'
        "
        class="px-5 py-3 cursor-pointer w-full rounded-2xl text-white shadow font-bold"
      >
        @if(isSubmitting()){ Submitting... }@else{ Continue }
      </button>
    </div>
  </form>
</div>
<div class="p-4">
  <ng-content></ng-content>
</div>
